@import '../node_modules/foundation-sites/scss/foundation.scss';
@include foundation-everything;

@import './partials/social-buttons.scss';
@import './partials/random-music.scss';

// this is a comment ok ?

@import url('https://fonts.googleapis.com/css?family=Quicksand');

h1, h2, h3, h4, h5, p, a, div {
    font-family: 'Quicksand', sans-serif;
}